.grid-container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 3px 5px; 
    grid-template-areas: 
      ". . . . . . . . . . . . . . . . . . . .";
  }

  .marg-bot {
    margin-bottom: 30px;
  }

  .info-container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 3px 5px; 
    grid-template-areas: 
      ". . . . . . . . . . . . . . . . . . . .";
  }

  .info-text {
    background-color: antiquewhite;
    grid-column: 1/12;
    font-size: 2rem;
  }

  .trump-text {
    grid-column: 12;
  }

  .deck-text {
    grid-column: 15;
  }

  .trump {
    grid-column: 13;
    /* grid-column: 11 / 20; */
  }

  .card {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
  }
  
  .card.red {
    color: red;
  }
  
  .card.black {
    color: black;
  }
  
  .card::before,
  .card::after{
    position: absolute;
    content: attr(data-value);
    font-size: 1.5rem;
  }
  
  .card::before {
    top: 0rem;
    left: 0rem
  }

  .card::after {
    bottom: 0rem;
    right: 0rem;
  }

  .text {
    font-size: 1.3rem;
    padding-top: 10px;
    padding-bottom: 5px;
  }

  .player1_cards {
    background-color: rgb(219, 243, 251);
  }

  .player2_cards {
    background-color: rgb(228, 255, 239);
  }

  .player1_table {
    
  }

  .player2_table {
    
  }